{{> header}}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        let errMsg = document.getElementById("error");
        if(errMsg.innerHTML !== "") {
            setTimeout(function () {
                errMsg.innerHTML = "";
            }, 4000);
        }
    })
</script>

<div class="inner-container">
<div class="error" id="error">{{messages.err}}</div>
<form class="search-form" action="/writers" method="GET">
    <div class="search-item">
        <input type="text" placeholder="Search Writers" name="name" required>
    </div>
    <div class="search-btn">
    <button type="submit">Search</button>
    </div>
</form>
<br>
{{#each writers}}
    <div class="author-row">

        <div class="author-base-item">
            <img class="profile-image" src="/images/profileImages/{{profile}}" alt="Profile Picture">
            <div class="author-item">
                <div>{{fullname}}</div>
                <div>{{username}}</div>
                <div>{{bio}}</div>
            </div>
        </div>

    <div class="btn-row">
    <a class="btn btn-primary" href="/writers/{{user_id}}">View</a>
    </div>

    </div>
{{/each}}

    <a href="/posts/new" class="fr fr-plus">&plus;</a>
</div>