{{> header}}

<div class="inner-container">
{{err}}
{{#each writers}}
<h2 class="page-header">{{fullname}}</h2>
<h3>{{username}}</h3>
<h3>{{bio}}</h3>
<div class="btn-row">
<a class="btn btn-primary" href="/writers/{{user_id}}/edit">Edit</a>
<form method="POST" action="/writers/{{user_id}}?_method=DELETE">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>
</div>
{{/each}}

{{#if posts}}
    <h2>Books by Author</h2>
    {{#each posts}}
        {{> bookGrid}}
    {{/each}}
{{/if}}
</div>

