{{> header}}

<div class="inner-container">
{{err}}
    <div class="profile-info">
        {{#each writers}}
        <img class="profile-image" src="/images/profileImages/{{profile}}" alt="Profile Picture"><!--Make sure change class-->
        <h3 id="profile-name">{{fullname}}</h3>
            <div>{{bio}}</div>
        <span class="span-flex">
            <span><b>{{username}}  &bull;</b></span>
        {{/each}}
        {{#each likes}}<span><b>Likes: {{NumberOfLikes}}  &bull;</b></span>{{/each}}
        <span><b>Posts: {{noOfPosts}}</b></span>
        </span>
    </div>


    {{#if posts}}
        <h2>Posts by Writer</h2>
        <div class="book-grid">
        {{#each posts}}
            {{> bookGrid}}
        {{/each}}
        </div>
    {{/if}}

    <a href="/posts/new" class="fr fr-plus">&plus;</a>
</div>

