{{> header}}

<div class="inner-container">
    {{err}}
    <div class="profile-info">
    {{#each user}}
        <img class="profile-image" src="/images/profileImages/{{profile}}" alt="Profile Picture">
        <h3 id="profile-name">{{fullname}}</h3>
        <div>{{bio}}</div>
        <span class="span-flex">
        <span><b>{{username}}  &bull;</b></span>
    {{/each}}
        {{#each likes}}<span><b>Likes: {{NumberOfLikes}}  &bull;</b></span>{{/each}}
        <span><b>Posts: {{noOfPosts}}</b></span>
        </span>

<!--        <div class="btn-row">-->

        <a class="btn btn-primary-inverse" href="/writers/edit">Edit Profile</a>
        <a style="margin-top: 9px; color: var(--color-primary)" href="/writers/account"><b>Update Account Details?</b></a>
<!--        </div>-->
    </div>

    {{#if posts}}
        <h2 class="post-head">Posts by Author</h2>
        <div class="book-grid">
        {{#each posts}}
            {{> bookGrid}}
        {{/each}}
        </div>
    {{/if}}

    <a href="/posts/new" class="fr fr-plus">&plus;</a>
</div>


