<div class="book-grid">
    <div>
    <a href="/posts/{{post_id}}/show">
        <img class="book-cover" src="/images/uploads/{{cover_image_name}}"></a>
        <div><b>{{title}}</b></div>
        <div><b>Author:</b> {{fullname}}</div>
        <p>"{{excerpt}}"</p>
    </div>
</div>