<div>
    <a href="/posts/{{post_id}}/show">
        <img class="book-cover" src="/images/uploads/{{cover_image_name}}" alt="Book Cover"></a>
        <div><b>{{title}}</b></div>
        <div><b>Author: </b>{{fullname}}</div>
        <div>"{{excerpt}}"</div>
</div>