{{> header}}

<div class="inner-container">
<h2 class="page-header">Edit Book</h2>
{{msg}}
{{#each results}}
<form action="/books/{{book_id}}?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="form-row">
        <div class="form-item">
            <label for="title"><b>Title</b></label>
            <input type="text" name="title" value="{{title}}" required>
        </div>

        <div class="form-item">
            <label for="author"><b>Author</b></label>
            <select name="author">
                <option value="{{author_id}}">{{author_name}}</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-item">
            <label for="publish_date"><b>Publish Date</b></label>
            <input type="date" name="publish_date" value="{{publish_date}}">
        </div>

        <div class="form-item">
            <label for="page_count"><b>Page Count</b></label>
            <input type="number" name="page_count" min=" 1" value="{{page_count}}" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-item">
            <label for="cover"><b>Cover</b></label>
            <input type="file" name="cover" >
        </div>

        <div class="form-item">
            <label for="description"><b>Description</b></label>
            <textarea name="description" required>{{description}}</textarea>
        </div>
    </div>

    <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/books/{{book_id}}">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>
{{/each}}
</div>