{{> header}}
<div class="">

{{#each posts}}
        <h2 class="page-header">{{title}}</h2>{{/each}}
{{#if sameUser}}
    {{#each posts}}
    <div class="post-options">
        <a class="btn btn-primary" style=" background-color: #00ACC1" href="/posts/{{post_id}}/edit">Edit</a>
        <form method="POST" action="/posts/{{post_id}}?_method=DELETE">
            <button class="btn btn-danger" style="padding: .7rem 1rem;" type="submit">Delete</button>
        </form>
    </div>
    {{/each}}
{{/if}}
{{#each posts}}
<div class="book-details">
<div class="left-side">
    <img class="book-cover show-cover" src="/images/uploads/{{cover_image_name}}" alt="Book Cover">
    <div class="book-details-btn-grid">

        <a class="btn btn-primary book-details-author-button" href="/writers/{{user_id}}">View Author</a>{{/each}}

        <div id="hrt" onclick="like()"><i class="fa fa-heart"></i></div>

        {{#each likes}}<div class="book-details-like-btn"><b>Likes: </b><span id="likes">{{NumberOfLikes}}</span></div>{{/each}}
    </div>

    {{#each posts}}
        <form action="/posts/{{post_id}}/comment" method="POST">
            <textarea rows="6" name="comment" class="inside" placeholder="Leave a comment..."></textarea>
            <input class="btn btn-secondary" id="comment-button" type="submit" name="submit" value="Submit"/>
        </form>
    {{/each}}

    <section id="comments">
        <h3 style="text-align: center">Comments</h3>
        {{#each comments}}
            <div class="author-base-item" style="margin-bottom: 1rem">
                <img class="comment-image" src="/images/profileImages/{{profile}}" alt="Profile Picture">
                <div class="author-item" style="margin-left: 1rem">
                    <div>{{username}}</div>
                    <div>{{comment}}</div>
                </div>
            </div>
        {{/each}}
    </section>
</div>


    {{#each posts}}
    <div class="right-side book-details-grid">
        <div class="book-details-label">Author:</div>
        <div>{{fullname}}</div>
        <div class="book-details-label">Type:</div>
        <div>{{type}}</div>
        <div class="book-details-label">Posted:</div>
        <div><span id="date">{{created_at}}</span></div>
<!--        <div class="book-details-label">Content:</div>-->
        <div id="book-description">{{content}}</div>
    </div>
    {{/each}}

</div>



    <a href="/posts/new" class="fr fr-plus">&plus;</a>

</div>


<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        let date = document.getElementById("date");
        let date_value = date.innerHTML;
        let date_str = String(date_value);
        let split_str = date_str.split(" ");
        date.innerHTML = "";
        for(let i=0; i<4; i++) {
            date.innerHTML = date.innerHTML + split_str[i]+" ";
        }
    });

    checkLike();

        {{#each posts}}
        function like() {
            document.getElementById('hrt').style.color = "red";
            let likes = document.getElementById('likes');
            let no = parseInt(likes.innerText) + 1;
            likes.innerText = String(no);

            $.post('/posts/{{post_id}}/like', function (data) {
                if(!data){
                    document.getElementById('hrt').style.color = 'darkgrey';
                    no = parseInt(likes.innerText) - 2;
                    likes.innerText = String(no);
                }
            });
        }

        function checkLike() {
            $.get('/posts/{{post_id}}/checklike', function (data) {
                if(data){
                    document.getElementById('hrt').style.color = 'red';
                }
            })
        }
        {{/each}}
</script>


